@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
  background-color: #1f1f1f;
  color: white;

}

.container {
  max-width: 600px;
}

.btn {
  background: rgba(255, 255, 255, 0.80);
  color: black;
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
  background-color: white;
}

.username {
  font-weight: bold;
}

.list-group-item {
  color: #1f1f1f;
}

.time {
  font-size: 0.7em;
  color: #999;
}